<app-navbar></app-navbar>
<div class="container">
    <div class="row g-3">
        <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
            <label for="" class="form-label">Donor Name</label>
            <input type="text" class="form-control" name="name" [(ngModel)]="name">
        </div>
        <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
            <label for="" class="form-label">Blood Group</label>
            <select name="blood" id="" class="form-control" [(ngModel)]="blood">
                <option value="A+">A+</option>
                <option value="A-">A-</option>
                <option value="O+">O+</option>
                <option value="O-">O-</option>
            </select>
        </div>
        <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
            <label for="" class="form-label">Date of Birth</label>
           <input type="date" name="dob" id="" class="form-control" [(ngModel)]="dob">
        </div>
        <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
            <label for="" class="form-label">Last Donated Date</label>
            <input type="date" name="lDate" id="" class="form-control" [(ngModel)]="lDate">
        </div>
        <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
            <label for="" class="form-label"> Any Disease</label>
            <input type="text" class="form-control" name="anyD" [(ngModel)]="anyD">
        </div>
        <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
            <label for="" class="form-label">Vaccination Date</label>
            <input type="date" name="vacDate" id="" class="form-control" [(ngModel)]="vacDate">
        </div>
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <label for="" class="form-label">Address</label>
           <textarea name="address" id="" cols="30" rows="10" class="form-control" [(ngModel)]="address"></textarea>
        </div>
        <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
            <label for="" class="form-label">Mobile no</label>
            <input type="text" class="form-control" name="phone" [(ngModel)]="phone">
        </div>
        <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
            <label for="" class="form-label">Pin code</label>
            <input type="text" class="form-control" name="pinCode" [(ngModel)]="pinCode">
        </div>
        <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
            <label for="" class="form-label">Email ID</label>
            <input type="email" name="email" id="" class="form-control" [(ngModel)]="email">
        </div>
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
           <button class="btn btn-success" (click)="readValue()">Register</button>
        </div>
    </div>
</div>